body {
    width: 1000px;
}
.container {
    /*   justify-content:space-around; */
    align-items: center;
    display: flex;
    flex-direction: row; 
    font-family: Tahoma;
    flex-wrap: nowrap;
}
.container > div { 
    margin: 10px;
    padding-top: 10px;
    flex-basis: 100px;
    height: 150px;
    border-left: 10px dotted #D0D0FF ;
    font-size: 40px;
    background-color: #eeeff2;

}
div :hover {
    cursor: pointer;
    color: goldenrod;
    background-color: yellow ; 
}
#F { width: 100px !important;
    bottom: 0px;
    right: 0px;
    position: absolute;
}